@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;300;400;500;600&display=swap');

/*初期化*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

/*全体適応*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.quiz {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  width:  90vh;
  height: 90vh;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba( 0, 0 , 0, 0.5);
  background: rgba( 255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.header {

  height: 20%;

}

.header-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;

 
}

.num-quiz {

}

.name {

}

.score {

}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20%;
}
.timer {

}

.main {
  height: 70%;
}

.result-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;

}

.result {
  text-align: center;
}

.quiz-sentence-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;

}
.quiz-sentence {
  text-align: center;
  
}



.choices {
  display: flex; /* flexbox */
  justify-content: center;
  align-items: center;
	flex-wrap: wrap; /* 折返し指定 */
  height: 60%;

 

}

.choices div {
  width: 50%;
  text-align: left;
  padding-left: 20%;
}

#a {


}

#b {
 
}

#c {

}

#d {

}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10%;
}
.footer {
  text-align: center;
}